/*首页*/
.ul_six_nav{list-style:none;padding:0;width:100%;}
.ul_six_nav li{float:left;margin:0 15px;cursor:pointer;}
.ul_six_nav .div_img{background-image:url(../images/sy_001.png);width:162px;height:182px;position:relative;background-repeat:no-repeat;background-size:100% 100%;}
.ul_six_nav .div_img img{position:absolute;left:50%;top:50%;margin-left:-47.5px;margin-top:-39px;}
.ul_six_nav .p1{margin:0px;text-align:center;margin-top:10px;color:#56585b;}

/*通用*/
.gray-bg:before{-webkit-box-shadow:initial;box-shadow:initial;}

.radio_css{margin:0 0.5rem;}
.radio_css input[type="radio"]{opacity:0;position:absolute;}
.radio_css input[type="radio"] + .radio-label{margin:initial;font-weight:initial;}
.radio_css input[type="radio"] + .radio-label:before {position:relative;top: 0.1em;content:'';background:#f4f4f4;border-radius:100%;border:1px solid #213277;display:inline-block;width:1.2em;height:1.2em;margin-right:1em;vertical-align:top;cursor:pointer;text-align:center;-webkit-transition:all 250ms ease;transition:all 250ms ease;}
.radio_css input[type="radio"]:checked + .radio-label:before{background-color:#213277;box-shadow:inset 0 0 0 4px #f4f4f4;}
.radio_css input[type="radio"]:focus + .radio-label:before{outline:none;border-color:#213277;}

.checkbox_css{margin:0 0.5rem;}
.checkbox_css input[type="checkbox"]{opacity:0;position:absolute;}
.checkbox_css input[type="checkbox"] + .checkbox-label{margin:initial;font-weight:initial;}
.checkbox_css input[type="checkbox"] + .checkbox-label:before {position:relative;top: 0.1em;content:'';background:#f4f4f4;border-radius:100%;border:1px solid #213277;display:inline-block;width:1.2em;height:1.2em;margin-right:1em;vertical-align:top;cursor:pointer;text-align:center;-webkit-transition:all 250ms ease;transition:all 250ms ease;}
.checkbox_css input[type="checkbox"]:checked + .checkbox-label:before{background-color:#213277;box-shadow:inset 0 0 0 4px #f4f4f4;}
.checkbox_css input[type="checkbox"]:focus + .checkbox-label:before{outline:none;border-color:#213277;}
/*考试通知 start*/
.kstz_top{color:#b2b2b4;position:relative;height:62px;min-height:62px;}
.kstz_top .span_link{position:absolute;left:0;bottom:0;font-size:0.666em;margin-bottom:5px;}
.kstz_top .span_link a{color:#b2b2b4;text-decoration:none;}
.kstz_top .div_btns{position:absolute;right:0;bottom:0;}
.kstz_top .btn_new{color:#FFF;text-align:center;min-width:initial;}
.kstz_top .btn_new img{width:20px;height:20px;float:left;}
.kstz_top .btn_new span{float:left;line-height:20px;margin-left:5px;}
.kstz_top .btn_new1{background-image:url(../images/c_scbg.png);}
.kstz_top .btn_new2{background-image:url(../images/c_bjbg.png);}
.selectitem{margin-bottom:10px;}
.selectitem .kstz_bottom_header{padding:20px 10px 40px 10px;}
.selectitem .kstz_bottom_header div{float:left;}
.selectitem .kstz_bottom_header .kstz_left{width:35%;}
.selectitem .kstz_bottom_header .kstz_center{width:20%;text-align:center;}
.selectitem .kstz_bottom_header .kstz_right{width:40%;text-align:right;}
.selectitem .kstz_bottom_header .kstz_right .span_color{color:#6db4ea;}
.selectitem .kstz_bottom_header .kstz_checkbox{width:5%;text-align:center;padding:0 15px;}
.selectitem .kstz_bottom_footer{border-top:1px #cccccc solid;padding:35px 10px;clear:both;}
.selectitem .kstz_bottom_footer p{margin:0;padding:0;}
.selectitem .kstz_bottom_footer .p_title1{text-align:center;font-size:1.4em;}
.selectitem .kstz_bottom_footer .p_title2{text-align:center;font-size:0.867em;}
.selectitem .kstz_bottom_footer .f_body{padding:35px 0;}
.selectitem .kstz_bottom_footer .f_body p{text-indent:2em;margin:10px 0;}

.div_btns2{background-color:#747476;padding:20px 0;}
.div_btns2 .div_btns2_div{float:right;margin:10px;color:#FFF;text-align:center;}
.div_btns2 .div_btns2_div img{width:25px;height:25px;margin:0 auto;}
.div_btns2 .div_btns2_div p{width:30px;font-size:0.9em;text-align:center;margin:0;}

.kstz_top1{height:initial;min-height:initial;}
.kstz_bottom .div_radio{width:initial;height:42px;padding:10px 15px;}
.kstz_bottom .div_radio span{float:left;}
.kstz_bottom .div_radio .radio_css{float:left;}
.kstz_bottom .div_input{position:relative;height:50px;padding:10px 15px;}
.kstz_bottom .div_input .btn{margin:0;height:30px;color:#fff;padding:5px 6px;}
.kstz_bottom .div_input .btn_new1{background-image:url(../images/c_bjbg.png);vertical-align:top;}
.kstz_bottom .div_input .btn_new2{background-image:url(../images/c_scbg.png);}
.kstz_bottom .div_input .btn_new3{border:1px #db6f6f solid;color:#db6f6f;}
.kstz_bottom .div_input .div_left{position:absolute;left:15px;top:10px;width:80%;}
.kstz_bottom .div_input .div_left .sp_title{height:30px;}
.kstz_bottom .div_input .div_left .in_body{height:30px;width:13%;padding:0 10px;}
.kstz_bottom .div_input .div_left .in_1{width:30%;}
.kstz_bottom .div_input .div_right{position:absolute;right:0;top:10px;width:20%;}
.kstz_bottom .div_editor{padding:10px 15px;background-color:#fff;margin-top:10px;}
.kstz_bottom .div_editor .btn_new4{background-image:url(../images/c_bjbg.png);color:#fff;}

/*考试通知 end*/
